:root {
	--lightGrey: rgb(199, 199, 199);
	--buttonColor: rgba(255, 255, 255, 0.219);
	--fontFamilyMain: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--fontSizeDefault: 14px;
	--borderMain: 1px solid white;
	--borderBlack: 1px solid rgba(0, 0, 0, 0);
	--borderRadiusMain: 5px;
	--marginElements: 3px;
	--spectrometerBar: rgba(0, 229, 255, 0.787);
	--spectrometerBackground: rgba(255, 255, 255, 0.342);
	--trackBackground: rgba(255, 255, 255, 0.37);
	--black: rgb(47, 47, 47);
}

* {
	box-sizing: border-box;
}

body {
	background: var(--lightGrey);
	font-family: var(--fontFamilyMain);
	font-size: var(--fontSizeDefault);
	color: var(--black);
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	max-width: 1200px;
	min-width: 500px;
	margin: 0 auto;
}

.center {
	position: fixed;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-main {
	padding: 10px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	background: var(--lightGrey);
	z-index: 100;
}

.custom-button {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	user-select: none;
	text-align: center;
	margin: var(--marginElements);
	border: var(--borderMain);
	border-radius: var(--borderRadiusMain);
	font-family: var(--fontFamilyMain);
	font-size: var(--fontSizeDefault);
	color: var(--black);
	background: var(--buttonColor);
}

.custom-button:disabled {
	background: #646464;
}

input[type="file"] {
	display: none;
}

button {
	display: none;
	outline: none;
}

.modal {
	display: inline-block;
	margin: var(--marginElements);
	text-align: center;
	padding-left: 10px;
}

.workstation {
	height: 100%;
	padding-top: 50px;
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}


/* SLIDER */
.slider-container {
	grid-area: left-bottom;
}

.slider {
	-webkit-appearance: none;
	width: 255px;
	height: 10%;
	background: var(--black);
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	transform: rotate(-90deg) translateY(-256px);
	transform-origin: right top;
	margin: 0;
	border-radius: 5px 0 0 0;
}


.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: var(--lightGrey);
	cursor: pointer;
	border-radius: var(--borderRadiusMain);
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: var(--lightGrey);
	cursor: pointer;
	border-radius: var(--borderRadiusMain);
}


/* TRACK */
.track {
	display: grid;
	margin: 10px 5px;
	border: var(--borderBlack);
	background: var(--trackBackground);
	border-radius: var(--borderRadiusMain);
	grid-template-columns: 25px auto;
	grid-template-rows: 25px auto;
	grid-template-areas: "top-left top-right"
		"left-bottom right-bottom";
}

.track-menu-left {
	padding: 5px;
	grid-area: top-left;
	border-bottom: var(--borderBlack);
	text-align: center;
}

.track-menu-right {
	padding: 5px;
	grid-area: top-right;
	border-bottom: var(--borderBlack);
	text-align: center;
}


/* SPECTROMETER */
.spectrometer-grid-container {
	grid-area: right-bottom;
}

.spectrometer-container {
	height: 255px;
	background: var(--spectrometerBackground);
	border-radius: 0 0 5px 0;
}

.spectrometer-bar {
	display: inline-block;
	background: var(--spectrometerBar);
	position: relative;
	height: 100%;
}